torchvision
torchaudio
pandas
gensim
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric
networkx
matplotlib
node2vec
seaborn
scikit-learn
tensorflow-gpu
deepchem
torch-geometric-temporal
captum