Learning/Hands On With GNNs/Part 2/ml-100k/
Learning/Hands On With GNNs/Part 2/Cora/
Learning/Hands On With GNNs/Part 2/processed/
Learning/Hands On With GNNs/Part 2/raw/
Learning/Hands On With GNNs/Part 2/wikipedia/
Learning/Hands On With GNNs/Part 2/chameleon/
Learning/Hands On With GNNs/Part 2/CiteSeer/
Learning/Hands On With GNNs/Part 3/Pubmed/
Learning/Hands On With GNNs/Part 3/processed/
Learning/Hands On With GNNs/Part 3/raw/
Learning/Hands On With GNNs/Part 3/PROTEINS/
Learning/Hands On With GNNs/Part 3/Cora/
Learning/Hands On With GNNs/Part 3/data/
Learning/Hands On With GNNs/Part 3/EN/
Learning/Hands On With GNNs/Part 4/PeMSD7_Full/
Learning/Hands On With GNNs/Part 4/CSV-original/
Learning/Hands On With GNNs/Part 4/Book Crossing Dataset/