Learning/Hands On With GNNs/Part 2/ml-100k/
Learning/Hands On With GNNs/Part 2/Cora/
Learning/Hands On With GNNs/Part 2/processed/
Learning/Hands On With GNNs/Part 2/raw/
Learning/Hands On With GNNs/Part 2/wikipedia/
Learning/Hands On With GNNs/Part 2/chameleon